# PEERSIM VCUBE

SIZE 2^12

CYCLES 100
CYCLE SIZE*10000

# random.seed 1234567890
network.size SIZE
simulation.endtime CYCLE*CYCLES
simulation.logtime CYCLE

simulation.experiments 1



protocol.tr UniformRandomTransport
{
    mindelay 0
    maxdelay 0
}

protocol.my overlay.vcube.VCubeProtocol 
{
    transport tr
}

control.traffic overlay.vcube.TrafficGenerator
{
    protocol my
    step 100
}

init.create overlay.vcube.VCubeCreate
{
    protocol my
    idLength 256
}
